<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.mapper.QnAMapper">
	<insert id="insertQnA" parameterType="qna">
		insert into qna(qno, qna_title, qna_area, qna_writer, qna_quiryType, qna_content, qna_date) 
		values(qno.nextval, #{qnaTitle}, #{qnaArea}, #{qnaWriter}, #{qnaQuiryType}, #{qnaContent}, sysdate)
	</insert>
	
	<select id="selectQna" parameterType="map" resultType="qna">
		select * from (select ceil(rownum / 5) as pageNo, qna.* from qna)
		where pageNo = #{pageNo} and qna_writer = #{userEmail}
	</select>
	
	<select id="countQna" parameterType="map" resultType="int">
		select count(*) from qna where qna_writer = #{userEmail}
	</select>
</mapper>







